<form action="/planets/create" method="post">

<label for="">Planet Name</label>
<input type="text" name="name">
<label for="">Image URL</label>
<input type="img" name="image">
<label for="">Diameter</label>
<input type="numeric" name="diameter">
<label for="">Distance</label>
<input type="numeric" name="distance">
<label for="">Mass</label>
<input type="numeric" name="mass">
<label for="">Moons</label>
<input type="numeric" name="moons">

<button>create</button>
</form>